/* Header.js styles */

.AppBar {
	background-color: #7e57c2 !important;
	box-shadow: 0 0 20px 20px #b39ddbe0 !important;
	border-radius: 20px;
}

.NavbarLinkBox {
	margin-left: -20%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.NavLinks {
	text-shadow: 0 0 50px #b39ddbe0 !important;
	text-decoration: none;
	font-size: 1.2rem;
	color: beige;
	transition: 2ms ease-in-out;
}

.NavLinks:hover {
	color: rgb(239, 225, 17);
}

.closeNavMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.closeNavLinks {
	text-align: left;
	margin-top: 10px;
	text-decoration: none;
	font-size: 1rem;
	color: black;
}

/* Patient.js & Home.js styles */

.ListTableContainer {
	background-color: #7e57c297;
	box-shadow: 0 0 10px 10px #393049cc;
	border-radius: 20px;
}

/* Patient.js styles */

.AddBtn {
	box-shadow: 0 0 5px 5px #7475ac !important;
	background-color: #554994b8 !important;
	transition: 1s ease !important;
	color: #fff;
	border-radius: 10px !important;
}

.AddBtn:hover {
	background-color: #8e8fd1 !important;
	box-shadow: 0 0 5px 5px #6c5eb5c0 !important;
	color: black !important;
}

/* AddPatient.js styles */

.formDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.SaveBtn {
	box-shadow: 0 0 5px 5px #70af85 !important;
	background-color: #5f7161 !important;
	transition: 1s ease !important;
	color: #fff;
	border-radius: 10px !important;
}

.SaveBtn:hover {
	background-color: #70af85 !important;
	box-shadow: 0 0 5px 5px #5f7161 !important;
	color: black !important;
}
